body {
  background-color: $mainBackground;
  color: $white;
  font-family: $mainFont;
  /*font-family: Raleway;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;*/
}

.app-mersocarlin {
  padding-top: 50px;

  .img-avatar {
    @include border-radius(50%);

    /*margin:0 auto 0 auto;
    max-height:350px;
    margin-bottom:15px;*/
    border: 5px solid $white;
    margin-bottom: 3em;
    width: 100%;
  }

  h2 {
    font-family: $mainFont !important;
    &.myName {
      color: $white;
      font-size: 3.3em;
      line-height: 0.6em;
      padding: 0;
      margin: 0;

      @media (min-width: 643px) and (max-width: 768px) {
        font-size: 2.6em;
      }

      @media (min-width: 768px) and (max-width: 900px) {
        font-size: 3.2em;
      }

      @media (min-width: 900px) {
        font-size: 3.8em;
      }
    }
  }

  .mySocial {


    @media(max-width: 643px) {

    }
  }

  .myTitle {
    h3 {
      font-family: $mainFont;
      color: $white;
      font-size: 2em;
    }
  }


  .columns-social {
    height: 3em;
  }

  .fa-code {
    color: $red;
    margin-left: 0.5em;
  }

}
