@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin translate3d($x, $y, $z) {
  transform:translateZtranslate3d($x, $y, $z);
  -ms-transform:translateZtranslate3d($x, $y, $z); /* IE */
  -moz-transform:translateZtranslate3d($x, $y, $z); /* Firefox */
  -webkit-transform:translate3d($x, $y, $z); /* Safari Chrome */
  -o-transform:translateZtranslate3d($x, $y, $z);/* Opera */
}

@mixin translate($x, $y) {
  transform:translate($x, $y);
  -ms-transform:translate($x, $y); /* IE */
  -moz-transform:translate($x, $y); /* Firefox */
  -webkit-transform:translate($x, $y); /* Safari Chrome */
  -o-transform:translate($x, $y);/* Opera */
}

@mixin perspective($value) {
  perspective: $value;
  -webkit-perspective: $value;
}

@mixin transform-style($style) {
  transform-style: $style;
  -moz-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin backface-visibility($type) {
  backface-visibility: $type;
  -webkit-backface-visibility: $type;
}

@mixin box-sizing($type) {
  -webkit-box-sizing: $type; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: $type;    /* Firefox, other Gecko */
  box-sizing: $type;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transition-property($prop) {
  -webkit-transition-property: $prop;
  -moz-transition-property: $prop;
  -o-transition-property: $prop;
  transition-property: $prop;
}

@mixin inner-border($width, $color) {
  box-shadow: inset 0px 0px 0px $width $color;
  -webkit-box-shadow: inset 0px 0px 0px $width $color;
  -moz-box-shadow: inset 0px 0px 0px $width $color;
  -o-box-shadow: inset 0px 0px 0px $width $color;
}
