/**
 *  Color variables
 */

$mainBackground: #c1b6a5;
$red: #f95551;
$redHover: #dd4844;
$white: #fff;


/*$lightGray: #F5F7FA;
$gray: #E7E8EA;
$mediumGray: #C5C6C9;
$darkGray: #828384;
$textColor: #444;
$lightBlue: #6FC8EC;
$mediumBlue: #35A8E0;
$darkBlue: #2278BC;
$lighYellow: #FFCB16;
$mediumYellow: #FDCB1D;
$purple: #A31848;
$orange: #F28D1C;
$green: #B1BC23;
$mediumGreen: #9FCF6A;
$darkGreen: #81AA52;
$errorRed: #EF5043;*/
