@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
  background-color: #fff;
  color: #666;
  font-family: 'Josefin Sans', sans-serif !important;
}

.app-mersocarlin {
  background-color: 'red';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-mersocarlin .page-mersocarlin {
  flex: 1;
}

.app-mersocarlin .footer {
  text-align: center;
  margin-bottom: 1em;
}
