.page-contact .contact-sent {
  margin: 5em 0 !important;
}

.page-contact .contact-sent .ui.card {
  margin: 0 auto;
}

.page-contact .contact-form-component {
  margin-bottom: 2em;
}

.page-contact .social-list {
  text-align: center;
  margin: 2em 0;
}
