.page-home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.page-home .image-component {
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.page-home .image-component .loader {
  top: 85px;
}

.page-home .image-component img {
  border: 3px solid #666;
}

.page-home .myName {
  color: #666;
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 3em;
  line-height: 1em;
  margin: 0.3em 0 0 0;
  padding: 0;
  text-align: center;
}

.page-home .myTitle {
  margin: 1em 0;
}

.page-home .myTitle h3 {
  font-family: 'Josefin Sans', sans-serif !important;
  color: #666;
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-home .myTitle .code {
  margin-left: 0.5em;
}

.page-home .social-list {
  text-align: center;
}

.page-home .social-list a {
  margin: 0 0.5em;
}