# See https://help.github.com/ignore-files/ for more about ignoring files.

# folders
**/coverage
**/node_modules
.next
.vercel

# files
.idea
.DS_Store
.env.local
*.log
public/rss.xml
public/sitemap.xml
