
.social-list {
  ul {
    margin-left: 0 !important;
    margin-bottom: 0 !important;

    li {
      margin-left: 0 !important;
      width: 50%;

      @media (max-width: 642px) {
        width: 25%;
      }

      a {
        background-color: transparent;
        color: $white;
        border-top: 3px solid $red;
        font-size: 1.5em;
        height: 50px;
        width: 95%;
        text-align: center;
        padding-top: 0.2em;
        @include transition-duration(0.2s);

        @media only screen and (min-width: 40.063em) {

        }

        &:hover {
          color: $redHover;
          border-top: 3px solid $redHover;
        }
      }
    }
  }
}
