body {
  background-color: $mainBackground;
  color: $white;
  font-family: $mainFont !important;

  .grid {
    height: 100%;;
  }
}

.page-home {
  .column {
    & > .ui {
      margin-top: 1em;
    }
  }

  .image-component {
    height: 200px;
    margin: 0 auto;
    width: 200px;

    .loader {
      top: 85px;
    }

    img {
      border: 3px solid $white;
    }
  }

  .myName {
    color: $white;
    font-family: $mainFont;
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .myTitle {
    h3 {
      font-family: $mainFont;
      color: $white;
      font-size: 2em;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .fa-code {
      color: $red;
      margin-left: 0.5em;
    }
  }

  .social-list {
    a {
      margin: 0 0.5em;
    }
  }
}
