@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/JosefinSans_Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/JosefinSans_Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/JosefinSans_Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/JosefinSans_Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/JosefinSans_Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/JosefinSans_Regular.woff2) format('woff2');
}

@layer base {
  input[type='search'] {
    @apply appearance-none;
    @apply block w-full rounded px-4 py-3;
    @apply mersocarlin-bg-white mersocarlin-text-gray;
    @apply focus:outline-none focus:ring-1 focus:ring-gray-300;
    @apply dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-400;
    @apply border border-gray-300 focus:border-gray-400;
    @apply dark:border-gray-500 dark:focus:border-gray-400;
  }
}

@layer components {
  .mersocarlin-text-gray {
    @apply text-gray-500 dark:text-gray-200;
  }

  .mersocarlin-text-primary {
    @apply text-red-600 dark:text-red-400;
  }

  .mersocarlin-border-primary {
    @apply border-red-600 dark:border-red-400;
  }

  .mersocarlin-bg-white {
    @apply bg-white dark:bg-gray-700;
  }

  .mersocarlin-border-gray {
    @apply border-gray-500 dark:border-gray-200;
  }
}

@layer utilities {
  .prose a {
    @apply mersocarlin-text-primary font-light no-underline hover:underline;
  }

  .prose blockquote {
    @apply border-l-4 mersocarlin-border-gray p-4 text-gray-400 dark:text-gray-400;
  }

  .prose hr {
    @apply mersocarlin-border-gray;
  }

  .prose ul {
    @apply ml-8 mb-3 list-disc;
  }

  .prose pre {
    @apply rounded overflow-hidden mb-3 text-sm;
  }

  .prose code::before,
  .prose code::after {
    content: none;
  }

  .prose code {
    @apply text-sm;
  }

  /* Code syntax css */
  /*
    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
    base:    #282c34
    mono-1:  #abb2bf
    mono-2:  #818896
    mono-3:  #5c6370
    hue-1:   #56b6c2
    hue-2:   #61aeee
    hue-3:   #c678dd
    hue-4:   #98c379
    hue-5:   #e06c75
    hue-5-2: #be5046
    hue-6:   #d19a66
    hue-6-2: #e6c07b
  */

  p > code,
  ol > li > code,
  ul > li > code {
    @apply text-xs mersocarlin-text-gray bg-gray-200 dark:bg-gray-700 rounded p-1;
  }
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  @apply bg-gray-700;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
